@import '../../index.scss';

.main_wrapper {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #fff;
    margin: 0 180px;
}

@media (max-width: 1700px) {
    .main_wrapper {
        margin: 0 20px;
    }
}
